## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7**4

2401

In [2]:
pow(7,4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [3]:

s = 'Hi there Sam!'
lst=[]
lst = s.split()
print(lst)

['Hi', 'there', 'Sam!']

In [4]:
t = 'Hi there dad!'
lst = t.split()
print(lst)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [5]:
planet = "Earth"
diameter = 12742

In [6]:
q = "The diameter of {} is {} kilometers."
print(q.format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [7]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [8]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [9]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [10]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [11]:
List = [11,22,33,44]
List[1]= 55 
# List is mutable
Tuple = (11,22,33,44)
# Tuple[1] = 55 imutable
print(List,Tuple)

[11, 55, 33, 44] (11, 22, 33, 44)

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [12]:
def domain(email):
  return email.split('@')[-1]

In [13]:
domain('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [14]:
def find(string):
  return 'dog' in string.lower().split()

In [15]:
print(find('My friend owns a pretty dog'))
print(find('My friend owns a pretty cat'))

True
False

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [16]:
def count(token):
  c=0;
  spt = token.split()
  for i in spt:
    if i=='dog':
      c=c+1
  return c

In [17]:
print(count('There is a dog barking at a cat, which is later accompanied by another dog'))
print(count('I saw a dog'))

2
1

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [18]:
def ticket_range(speed, bday):
    
    if bday:
        assign = speed - 5
    else:
        assign = speed
    
    if assign>=81 :
        return 'Big Ticket'
    elif (assign>61) and (assign<=80):
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [19]:
ticket_range(90,1)

'Big Ticket'

In [20]:
ticket_range(75,0)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [21]:
salary = [10000,20000,30000,40000,50000]
add=0;
for i in salary :
  add = add+i
print(add)

150000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [22]:
a = {'Empid':191213, 'Empname':'Gayathri', 'Basicpay':750000}
b = {'DeptName':'ECE','DeptId':'19L213'}
for i in b.keys():
  a[i] = b[i]
print(a)

{'Empid': 191213, 'Empname': 'Gayathri', 'Basicpay': 750000, 'DeptName': 'ECE', 'DeptId': '19L213'}